# Sets up all environment vars.

################### CERTIFICATION-SERVICE configuration ###################################
export cert_service_base_url={cert_service_base_url}
################### END - CERTIFICATION-SERVICE configuration #############################
