# Sets up all environment vars.

################### CERTIFICATION-SERVICE configuration ###################################
#export keyA=valA

################### END - CERTIFICATION-SERVICE configuration #############################
